<h1>Our Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed %>
        <i class="fa fa-check-square-o" aria-hidden="true"></i> 
        <% else %> 
        <i class="fa fa-square-o" aria-hidden="true"></i>
        <% end %>
      <%= link_to task.title, task_path(task.id) %>
      <%=link_to task_path(task.id),
        method: :delete,
        data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<p><%=link_to "Add a new task", new_task_path %></p>
 